h1.colored, .h1.colored, 
h2.colored, .h2.colored, 
h3.colored, .h3.colored, 
h4.colored, .h4.colored, 
h5.colored, .h5.colored, 
h6.colored, .h6.colored {
	color:#e4d20c;
}

a {
	color:#e4d20c;
}

a:hover, 
a:focus {
	color:#e4d20c;
}

.page-loader .content .line .progress {
	background-color:#e4d20c;
}

.section header .icon.colored i {
	color:#e4d20c;
}

.section.parallax .parallax-overlay.colored, 
.section.video .parallax-overlay.colored, 
.section.parallax .video-overlay.colored, 
.section.video .video-overlay.colored {
	background-color:rgba(228, 210, 12, 0.85);
}

.navbar .navbar-nav > li a:hover, 
.navbar .navbar-nav > li a:focus {
	color:#e4d20c !important;
}

.navbar .navbar-nav > li.active > a {
	color:#e4d20c !important;
}

.navbar .navbar-toggle:hover .icon-bar {
	background-color:#e4d20c;
}

.navbar .navbar-collapse:not(.in):not(.collapsing) .navbar-nav > li.dropdown.open > a {
	color:#e4d20c;
}

.navbar .navbar-nav > li > .dropdown-menu li.active a {
	color:#e4d20c;
}

.navbar.three .navbar-nav > li > a:after, 
.navbar.four .navbar-nav > li > a:after, 
.navbar.six .navbar-nav > li > a:after {
	background:#e4d20c;
}

.navbar.seven .navbar-nav > li.active > a:after, 
.navbar.eight .navbar-nav > li.active > a:after, 
.navbar.nine .navbar-nav > li.active > a:after {
	background:#e4d20c;
}

.intro .content .video-preview .video-control i {
	background-color:#e4d20c;
}

.arrows .arrow i.fa:hover {
	color:#e4d20c !important;
}

.services [class*=col]:hover i.fa {
	color:#e4d20c;
}

.services-alt [class*=col]:hover i.fa {
	color:#e4d20c;
}

.btn.btn-default {
	background-color:#e4d20c;
}

.btn.btn-default:hover, 
.btn.btn-default:focus {
	background-color:#ebdb30;
}

.btn.btn-link {
	color:#e4d20c;
}

.btn.btn-link:hover, 
.btn.btn-link:focus {
	color:#ebdb30;
}

.btn.btn-inverse {
	color:#e4d20c;
}

.btn.btn-inverse:hover, 
.btn.btn-inverse:focus {
	border-color:#ebdb30;
	color:#ebdb30;
}

input:focus, textarea:focus {
	border-color:#e4d20c;
}

input.notice, textarea.notice {
	border-color:#e4d20c !important;
}

.portfolio-filters a:hover {
	color:#e4d20c;
}

.portfolio-filters a.active {
	background-color:#e4d20c !important;
}

.portfolio-item .loading {
	background-color:#e4d20c;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	color:#e4d20c !important;
}

.progress .progress-bar {
	background-color:#e4d20c;
}

.fa-li.colored {
	color:#e4d20c;
}

.dropcap {
	color:#e4d20c;
}

.dropcap.alt {
	background-color:#e4d20c;
}

.promotion-box {
	border-left-color:#e4d20c;
}

.promotion-box.line-top {
	border-top-color:#e4d20c;
}

.highlight, 
.highlight-dark {
	background-color:#e4d20c;
}

.sticker.default {
	background-color:#e4d20c;
}

.sticker.default:hover {
	background-color:#aaceb1;
}

.icons-demo.colored i.fa, 
.stickers-demo.colored i.fa {
	color:#e4d20c;
}

.sidebar ul.menu li a:hover, 
.sidebar ul.menu li a:focus {
	color:#e4d20c;
}

.sidebar ul.links li a:hover, 
.sidebar ul.links li a:focus {
	color:#e4d20c;
}

.sidebar .tags .tag {
	background-color:#e4d20c;
}

.sidebar .tags .tag:hover, 
.sidebar .tags .tag:focus {
	background-color:#ebdb30;
}

.pages-navigation a:hover, 
.pages-navigation a:focus {
	color:#e4d20c;
}

.user-comment .details .info .author {
	color:#e4d20c;
}

.user-comment .details .reply a:hover, 
.user-comment .details .reply a:focus {
	color:#e4d20c;
}
